# these values can be found in your project's API settings
# https://supabase.com/dashboard/project/_/settings/api

NEXT_PUBLIC_SUPABASE_URL=https://joeoyxsrkasfwswxwaxm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvZW95eHNya2FzZndzd3h3YXhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI5MDc0MDYsImV4cCI6MjA2ODQ4MzQwNn0.IW7vlL-3uyk_h6ckAIjkOIj1pxVuo_N43CP-IMyp46c
